{% extends 'base.html' %}

	{%block content %}

	<div class="jumbotron">
		<img src="http://tischlerei-weissenbacher.at/img/responsive_web_design.png">
		<h1> Welcome to my Design</h1>
		<p class='lead'>Feel free to contact me.</p>
		<a class="btn btn-large btn-success" href="#">Contact me today</a>
		<br/><br/><br/>
	</div>

	<hr>

	<div class="row-fluid markerting">
		<div class="span6">
			<h3>(1) One</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent
			gravida nulla vitae arcu blandit, non congue elit tempus.
			Suspendisse quis vestibulum diam.</p>
			<h3>(2) Two</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent
			gravida nulla vitae arcu blandit, non congue elit tempus.
			Suspendisse quis vestibulum diam.</p>
			<h3>(3) Three</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent
			gravida nulla vitae arcu blandit, non congue elit tempus.
			Suspendisse quis vestibulum diam.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent
			gravida nulla vitae arcu blandit, non congue elit tempus.
			Suspendisse quis vestibulum diam.</p>
		</div>

		<div class="span6">
			<h3>(4) Four</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent
			gravida nulla vitae arcu blandit, non congue elit tempus.
			Suspendisse quis vestibulum diam.</p>
			<h3>(5) Five</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Mauris ut dui ac nisi vestibulum accumsan. Praesentgravida nulla vitae arcu blandit, non congue elit tempus.Suspendisse quis vestibulum diam.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent
			gravida nulla vitae arcu blandit, non congue elit tempus.
			Suspendisse quis vestibulum diam.</p>
			<h3>(6) Six</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent
			gravida nulla vitae arcu blandit, non congue elit tempus.
			Suspendisse quis vestibulum diam.</p>
			</p>
		</div>
	</div>
	{% endblock %}
